<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - User Management</title>
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="dashboard">
        <%- include('../partials/admin/sidebar') %>
            <main class="content">
                <header class="topbar">
                    <h1>User Management</h1>
                    <div class="right">
                        <div><input type="text" placeholder="Search customer..."></div>
                        <button class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</button>
                    </div>
                </header>
               <button class="filter"><i class="fa-solid fa-filter"></i>Filter</button> 
                <section class="table-container">
                    <table class="user-table">
                        <thead>
                            <tr>
                                <th>SNo</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Joined</th>
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>John Doe</td>
                                <td>john@example.com</td>
                                <td class="unblocked">Active</td>
                                 <td>2025-01-15</td>
                                <td>
                                    <button class="block">BLOCK</button>
                                  
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jane Smith</td>
                                <td>jane@example.com</td>
                                <td class="blocked">Blocked</td>
                                <td>2025-02-03</td>
                                <td>
                                    <button class="unblock">UNBLOCK</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </section>
            </main>

    </div>
</body>

</html>