<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/styles/auth.css" />
</head>

<body>
  <div class="main-container">
    <div class="forgotpassword-container">
      <img src="/img/arrow_back_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="back-arrow" class="back-arrow" />
      <h1 class="forgotpassword-title">Forgot Password</h1>
      <p class="forgotpassword-subtitle">Enter your email to reset your password</p>

      <form action="/forgot-password" method="POST" class="auth-form">
        <input type="email" placeholder="Email" class="forgotpassword-field" required />

        <button type="submit" class="primary-btn">Reset Password</button>
      </form>


      <div class="forgotpassword-bottom">
        <p class="bottom-text">Remembered your password?</p>
        <a href="/login" class="link-btn">Log in</a>
      </div>
    </div>
  </div>
</body>

</html>