<link rel="stylesheet" href="/styles/auth.css" />
  <div class="min-h-screen flex items-center justify-center bg-white">
    <div class="auth-container w-full max-w-md bg-white p-6 rounded-lg shadow-md">
      <img src="/img/arrow_back_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="back-arrow" class="back-arrow" />
      <h1 class="forgotpassword-title">Forgot Password</h1>
      <p class="forgotpassword-subtitle">Enter your email to reset your password</p>

      <form action="/forgotpassword" method="POST" class="auth-form">
        <input type="email" placeholder="Email" name="email" class="forgotpassword-field" required />
        <% if (typeof error !=="undefined" ) { %>
          <p class="otp-error" style="color:red; margin-top:5px;">
            <%= error %>
          </p>
          <% } %>

            <button type="submit" class="primary-btn">Reset Password</button>
      </form>


      <div class="forgotpassword-bottom">
        <p class="bottom-text">Remembered your password?</p>
        <a href="/login" class="link-btn">Log in</a>
      </div>
    </div>
  </div>
