<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="/styles/auth.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="main-container">
    <div class="auth-container">

      <h1 class="auth-title">Reset Password</h1>
      <p class="auth-subtitle">Enter the OTP and your new password</p>

      <form action="/resetpassword" method="POST" class="auth-form" onsubmit="return passwordValidateChecking()">
      

        <input type="number" name="otp" class="reset-passowrd-otp" placeholder="ENTER OTP" maxlength="6"
          oninput="if(this.value.length > 6) this.value = this.value.slice(0,6);" />

        <div class="password-container">
          <input type="password" placeholder="New Password" name="password" id="password" class="input-field"
            required />
          <small id="errorPass" style="color:red; display:none;"></small>
          <!-- Fix: point to password -->
          <i class="fa-solid fa-eye toggle-password" onclick="togglePassword('password', this)"></i>
        </div>

        <div class="password-container">
          <input type="password" placeholder="Confirm New Password" id="confirmPassword" class="input-field" required />
          <small id="errorConfirm" style="color:red; display:none;"></small>
          <!-- Correct: confirmPassword -->
          <i class="fa-solid fa-eye toggle-password" onclick="togglePassword('confirmPassword', this)"></i>
        </div>


        <button type="submit" class="primary-btn">Reset Password</button>
      </form>

      <div class="resend-otp">
        <form action="/resendPasswordOtp" method="POST">
          <button id="resendBtn" class="resendButton" type="submit" disabled>Resend OTP </button>
        </form>
        <span id="timer"> in 00:30</span>
      </div>


      <div class="auth-bottom">
        <p class="bottom-text">Back to</p>
        <a href="/login" class="link-btn">Log in</a>
      </div>
    </div>
  </div>

  <script>

    let duration = 30
    const btn = document.getElementById('resendBtn')
    const timerSpan = document.getElementById('timer')

    let endTime = localStorage.getItem('otpEndTime')

    if (!endTime || Date.now() > endTime) {
      endTime = Date.now() + duration * 1000;
      localStorage.setItem("otpEndTime", endTime);
    }

    function updateTimer() {
      let remaining = Math.floor((endTime - Date.now()) / 1000);

      if (remaining > 0) {
        btn.disabled = true;
        timerSpan.textContent = " in 00:" + (remaining < 10 ? "0" : "") + remaining;
      } else {
        btn.disabled = false;
        timerSpan.textContent = "";
        clearInterval(countDown);
        localStorage.removeItem("otpEndTime");
      }
    }

    updateTimer();
    let countDown = setInterval(updateTimer, 1000);

    function passwordValidateChecking() {
      const passval = document.getElementById('password').value.trim();
      const confirmval = document.getElementById('confirmPassword').value.trim();

      const alpha = /[A-Za-z]/;
      const digit = /\d/;

      const errorPass = document.getElementById('errorPass');
      const errorConfirm = document.getElementById('errorConfirm');

      let valid = true;


      if (passval.length < 8) {
        errorPass.style.display = 'block';
        errorPass.innerHTML = "Should contain at least 8 characters";
        valid = false;
      }

      else if (!alpha.test(passval) || !digit.test(passval)) {
        errorPass.style.display = 'block';
        errorPass.innerHTML = "Should contain numbers and alphabets";
        valid = false;
      } else {
        errorPass.style.display = 'none';
        errorPass.innerHTML = "";
      }


      if (passval !== confirmval) {
        errorConfirm.style.display = 'block';
        errorConfirm.innerHTML = "Passwords do not match";
        valid = false;
      } else {
        errorConfirm.style.display = 'none';
        errorConfirm.innerHTML = "";
      }

      return valid;
    }

    function togglePassword(id, el) {
      const input = document.getElementById(id);
      console.log(input)
      if (input.type === "password") {
        input.type = "text";
        el.classList.remove("fa-eye");
        el.classList.add("fa-eye-slash");
      } else {
        input.type = "password";
        el.classList.remove("fa-eye-slash");
        el.classList.add("fa-eye");
      }
    }

  </script>


</body>

</html>